@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-heading);

  --radius: 0.6rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --shadow-subtle:
    rgba(0, 0, 0, 0.4) 0px 0px 1px 0px, rgba(0, 0, 0, 0.04) 0px 4px 4px 0px;

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --background: var(--color-zinc-50);
  --foreground: oklch(0.36 0.09 246);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.36 0.09 246);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.36 0.09 246);
  --primary: oklch(0.5676 0.2021 283.0838);
  --primary-foreground: oklch(0.962 0.018 272.314);
  --secondary: oklch(0.75 0.05 240);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.53 0.03 252);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.785 0.115 274.713);
  --chart-2: oklch(0.585 0.233 277.117);
  --chart-3: oklch(0.511 0.262 276.966);
  --chart-4: oklch(0.457 0.24 277.023);
  --chart-5: oklch(0.398 0.195 277.366);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.36 0.09 246);
  --sidebar-primary: oklch(0.511 0.262 276.966);
  --sidebar-primary-foreground: oklch(0.962 0.018 272.314);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --spacing: 0.3rem;
  --radius: 0.45rem;
}

.dark {
  --background: oklch(0.2095 0.0197 284.5733);
  --foreground: oklch(0.9090 0.0108 286.1829);
  --card: oklch(0.2401 0.0209 284.7154);
  --card-foreground: oklch(0.9090 0.0108 286.1829);
  --popover: oklch(0.2616 0.0223 284.7510);
  --popover-foreground: oklch(0.9090 0.0108 286.1829);
  --primary: oklch(0.6211 0.1393 283.0036);
  --primary-foreground: oklch(0.9090 0.0108 286.1829);
  --secondary: oklch(0.3995 0.0304 279.9538);
  --secondary-foreground: oklch(0.9090 0.0108 286.1829);
  --muted: oklch(0.2616 0.0223 284.7510);
  --muted-foreground: oklch(0.7094 0.0303 285.6007);
  --accent: oklch(0.2821 0.0219 284.9092);
  --accent-foreground: oklch(0.9090 0.0108 286.1829);
  --destructive: oklch(0.7022 0.1892 22.2279);
  --destructive-foreground: oklch(0.2387 0.0305 283.8506);
  --border: oklch(0.3008 0.0199 281.0405);
  --input: oklch(0.3008 0.0199 281.0405);
  --ring: oklch(0.3995 0.0304 279.9538);
  --chart-1: oklch(0.7833 0.1100 274.4737);
  --chart-2: oklch(0.5834 0.2305 277.0676);
  --chart-3: oklch(0.5102 0.2618 276.9361);
  --chart-4: oklch(0.4562 0.2396 276.9318);
  --chart-5: oklch(0.3988 0.1949 277.3204);
  --sidebar: oklch(0.2095 0.0197 284.5733);
  --sidebar-foreground: oklch(0.9090 0.0108 286.1829);
  --sidebar-primary: oklch(0.5834 0.2305 277.0676);
  --sidebar-primary-foreground: oklch(0.9619 0.0179 272.3144);
  --sidebar-accent: oklch(0.2616 0.0223 284.7510);
  --sidebar-accent-foreground: oklch(0.9090 0.0108 286.1829);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.5520 0.0153 285.8863);
}

@utility container {
  margin-inline: auto;
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 900px;
  }
  @media (width >= 1124px) {
    max-width: 980px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  button {
    @apply hover:cursor-pointer;
  }
}
